@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

section.content{
  font-family: 'Fira Sans';
}

.content-subtitle{
  font-size: 1.5rem;
  font-weight: 700;
  color: #2D3846;
  line-height: 1.3em;
  margin-bottom: .5em;
  margin-top: .4em;
}
.content-paragraph{
  color: #2d3846;
  line-height: 170%;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Fira Sans';
  margin-bottom: 1em;
}
.content-alert{
  color: #2d3846;
  line-height: 160%;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Fira Sans';
}
.content-paragraph .contrast{
  font-weight: 600;
}
button.continue{
  font-family: 'Fira Sans';
}
.question-indication{
  color: #2d3846;
  line-height: 170%;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Fira Sans';
}
.question-hint{
  color: #6b7f99;
  font-size: 0.85em;
  line-height: 140%;
  font-weight: 400;
}
